---
layout: layouts/base.njk
fullBleed: true
---
<section class="section page">
  <div class="section-inner">
    <article class="article">
      <header class="article-header">
        <h1 class="section-heading">{{ title }}</h1>
        <p class="meta">
          <time datetime="{{ date | isoDate }}">{{ date | readableDate }}</time>
        </p>
      </header>
      <div class="article-body prose">
        {{ content | safe }}
      </div>
    </article>
  </div>
</section>
