---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }} | Articles</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed.xml" rel="self" type="application/atom+xml"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.articles[0].date | isoDate }}</updated>
  <id>{{ site.url }}/</id>
  {%- for post in collections.articles %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ site.url }}{{ post.url }}"/>
    <id>{{ site.url }}{{ post.url }}</id>
    <published>{{ post.date | isoDate }}</published>
    <updated>{{ post.date | isoDate }}</updated>
  </entry>
  {%- endfor %}
</feed>
